.logo{
	margin-left: 50px;	
}
.flex{
	display: flex;
	list-style-type: none;
}
ul,li,a{
	margin-right: 90px;
	text-decoration: none;
	color: #7F7F7F;
	font-size: 18px;
}
header{
	margin-top: 50px;
}
.nav2{}